<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>COMPONENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        THANK YOU!
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi accusamus expedita dolore ad quos explicabo nostrum soluta porro nam, sint animi nulla eaque libero molestias aspernatur nisi necessitatibus, repudiandae iusto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, repudiandae non perferendis facere delectus nisi mollitia placeat dicta a vitae numquam ipsam minima provident! Vero quod dolore tempore totam sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed impedit omnis vel dolores sapiente odio ipsum molestiae atque possimus accusamus molestias recusandae hic, dolor, repudiandae quos, odit fugiat harum! Sunt.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      Item 1
    </ion-item>
    <ion-item>
      Item 2
    </ion-item>
    <ion-item>
      Item 3
    </ion-item>
    <ion-item>
      Item 4
    </ion-item>
  </ion-list>
</ion-content>



