<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="title">
      <h3>CALCULATOR</h3>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calculator">

    <div class="inputBtn">
      <div class="inputContent">
        <ion-input class="result" [(ngModel)]="result" (ionChange)="checkLetter()"></ion-input>
        <label>History</label>
        <div class="historyContent">
          <ion-input class="history" [(ngModel)]="fieldText" (ionChange)="checkLetter()"></ion-input>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="numbers">
          <ion-button class="item1" (click)="clickBtn(1)">1</ion-button>
          <ion-button class="item1" (click)="clickBtn(2)">2</ion-button>
          <ion-button class="item1" (click)="clickBtn(3)">3</ion-button>
          <ion-button class="item1" (click)="clickBtn(4)">4</ion-button>
          <ion-button class="item1" (click)="clickBtn(5)">5</ion-button>
          <ion-button class="item1" (click)="clickBtn(6)">6</ion-button>
          <ion-button class="item1" (click)="clickBtn(7)">7</ion-button>
          <ion-button class="item1" (click)="clickBtn(8)">8</ion-button>
          <ion-button class="item1" (click)="clickBtn(9)">9</ion-button>
          <ion-button class="item1" (click)="clearBtn()">C</ion-button>
          <ion-button class="item1" (click)="clickBtn(0)">0</ion-button>
          <ion-button class="item1" (click)="equalBtn()">=</ion-button>
        </div>
  
  
        <div class="operation">
          <ion-button class="item1" (click)="operator('/')">/</ion-button>
          <ion-button class="item1" (click)="operator('*')">x</ion-button>
          <ion-button class="item1" (click)="operator('-')">-</ion-button>
          <ion-button class="item1" (click)="operator('+')">+</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>