.container {
    margin: 24px;
}

.btn h5 {
    text-align: center;
}

.component-btn h5 {
    margin: 0;
}

.component-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}