.container {
    padding: 20px;
}

h2 {
    width: 100%;
    font-size: 44px;
    font-weight: 600;
    padding: 20px;
}

ion-input,
ion-textarea {
    border-radius: 10px;
    margin: 20px 0;
    font-size: 18px;
}

ion-toolbar {
    margin-bottom: 20px;
}

// Make the text area bigger
ion-textarea {
    height: 120px;
    margin-bottom: 20px;
}

// Center the button
.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}